<div class="reveal">
  <div class="row">
    <div class="col-8 right">
    <img src="{{ site.baseurl }}/images/component-1.png" alt="A listing component on gov.uk">
    </div>
  </div>
</div>

<div class="reveal">
  <div class="row">
    <div class="col-8 right">
    <img src="{{ site.baseurl }}/images/component-2.png" alt="A listing component on gov.uk">
    </div>
  </div>
</div>

<div class="reveal">
  <div class="row">
    <div class="col-8 right">
    <img src="{{ site.baseurl }}/images/component-3.png" alt="A listing component on gov.uk">
    </div>
  </div>
</div>
