<!-- <div class="reveal">
<div class="content-types">
        <table>
          <tr>
            <th>
            <div class="big">5</div><h3>Super-groups</h3>
            <div class="big">72</div><h3>Content types</h3>
          </th>
            <td><h4>Guidance</h4><div class="big-alt">15</div><p>Content types</p></td>
            <td><h4>Services</h4><div class="big-alt">10</div><p>Content types</p></td>
            <td><h4>Policy</h4><div class="big-alt">7</div><p>Content types</p></td>
            <td><h4>News</h4><div class="big-alt">16</div><p>Content types</p></td>
            <td><h4>Data</h4><div class="big-alt">24</div><p>Content types</p></td>
          </tr>
        </table>
      </div>
</div> -->


<div class="reveal">
<div class="content-types">
        <table>
          <tr>
            <th>
            <div class="big">5</div><h3>Super-groups</h3>
            <div class="big">72</div><h3>Content types</h3>
            </th>
              <td><h4>Guidance</h4><div class="big-alt">15</div><p>Content types</p></td>
              <td><h4>Services</h4><div class="big-alt">10</div><p>Content types</p></td>
              <td><h4>Policy</h4><div class="big-alt">7</div><p>Content types</p></td>
              <td><h4>News</h4><div class="big-alt">16</div><p>Content types</p></td>
              <td><h4>Data</h4><div class="big-alt">24</div><p>Content types</p></td>
          </tr>
        </table>
      </div>
</div>
