<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ site.baseurl }}/reset.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
        <link rel="stylesheet" href="https://use.typekit.net/fdl8gcc.css">
    </head>
    <header>
      <div class="grid">
      <a href="https://miakepia.github.io/nav-case-study">Mia Allers</a>
    </div>
    </header>

    <body>
      <main>
        {{ content }}
      </main>
    </body>

    <footer>
    </footer>

    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script>window.sr = ScrollReveal({
      origin: 'bottom',
      distance: '20px',
      duration: 1000,
      delay: 2,
      opacity: 0,
      scale: 1,
      easing: 'cubic-bezier(0.6, 0.2, 0.1, 1)',
      mobile: true,
      reset: false,
      useDelay: 'always',
      viewFactor: 0.8,
  });
    sr.reveal('.reveal')</script>
</html>
